.basket-product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: lightgray;
    width: 300px;
    height:fit-content;
    margin: 16px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}